.vscode/**
node_modules/**
client/node_modules/**
server/node_modules/**
client/src/**
server/src/**
tests/**
.gitignore
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/tsconfig.base.json
**/*.ts
**/*.map
.DS_Store
*.vsix
examples/**
TODO-private.md
images/**
